version: '3'

networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge

volumes:
  db-data:
    driver: local

services:
  web:
    image: nginx:1.14-alpine
    ports:
      - 80:80
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ../:/var/www/html
    networks:
      - frontend
      - backend
  app:
    image: katsuhikonagashima/php-fpm-mysql:7.2-stretch
    volumes:
      - ../:/var/www/html
    networks:
      - backend
  db:
    image: mysql:5.7
    environment:
      - MYSQL_DATABASE=default
      - MYSQL_USER=default
      - MYSQL_PASSWORD=secret
      - MYSQL_ROOT_PASSWORD=root
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - backend
